<ion-header>
  <ion-toolbar>
    <ion-title>Alimentar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (pointermove)="moveDrag($event)" (pointerup)="endDrag($event)" (pointercancel)="endDrag($event)">

  <!-- Barra de progreso -->
  <div class="progress-container">
    <div class="progress-bar" [style.width.%]="progress"></div>
  </div>

  <div class="scene">

    <!-- Área del bebé -->
    <div id="baby-area" class="baby-area">
      <img src="assets/Bebe.png" class="baby-img">
    </div>

    <!-- Objetos arrastrables -->
    <div class="food-items">

      <img #foodItem
        src="assets/Biberon.png"
        class="food"
        (pointerdown)="startDrag($event, $event.currentTarget)"
      >

      <img #foodItem
        src="assets/Gerber.png"
        class="food"
        (pointerdown)="startDrag($event, $event.currentTarget)"
      >

    </div>

  </div>

  <div *ngIf="progress === 100" class="done-msg">
    ¡El bebé está lleno! 😊
  </div>

</ion-content>
